[submodule "Submodules/imgui"]
	path = Submodules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Submodules/SDL2"]
	path = Submodules/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "Submodules/Vulkan-Loader"]
	path = Submodules/Vulkan-Loader
	url = https://github.com/GrahamCHill/DynamicVulkLoader
